* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* header */
#header {
    display: flex;
    gap: 32px;
}

/* grid */
#grid-container {
    padding: 8px;
    width: 512px;
}

.grid-row {
    display: flex;
}

.grid-cell {
    background-color: navajowhite;
    border: 1px solid palevioletred;
    flex: 1;
    height: 32px;
}

.grid-cell-filled {
    background-color: aqua;
}

/* info */
#info {
    text-align: center;
    display: flex;
}