* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main-bg: #84BEA2;
    --color-cell: #D8E0EB;
    --color-border: #C6D7E5;
    --color-fill: rgb(64, 60, 194);
    --color-text: #3b4a3b;
}

body {
    color: var(--color-text);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-main-bg);
}

/* header */
#header {
    display: flex;
    gap: 32px;
}

/* grid */
#grid-container {
    border: 2px solid var(--color-border);
    width: 540px;
    height: 540px;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    background-color: var(--color-cell);
    border: 0.25px dotted var(--color-border);
    flex: 1;
}

.grid-cell-filled {
    background-color: var(--color-fill);
}

/* info */
#info {
    text-align: center;
    display: flex;
}