* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* grid */
#grid-container {
    padding: 8px;
    width: 512px;
}

.grid-row {
    display: flex;
}

.grid-cell {
    background-color: navajowhite;
    border: 1px solid palevioletred;
    flex: 1;
    height: 32px;
}